#board{
    padding-top: 3em;
    text-align: center;
}

.row{
    height: 100px;
    width: 302px;
    clear: both;
    margin: 0 auto;   
    font-family: 'Gamja Flower';
    font-size: 5em;
}

.row div{
float: left;
width: 100px;
height: 100px;
}

.top{
    border-bottom: 1px black solid;
}

.btm{
    border-top: 1px blue solid;
}

.left{
    border-right: 1px red solid;
}

.right{
    border-left:1px green solid;
}

button{
    margin-top: 2em;
    text-align: center;
}